@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@500&display=swap');

:root {
    --sectionPadding: 6rem 0;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "roboto", sans-serif;
}

h1,h2,h3,h4,h5,h6,strong {
    color: rgb(40, 40, 40);

}

p {
    font-size: 1rem; /*16px*/
    line-height: 1.9rem;
}

p,span,label,input,textarea,li {
    color: rgb(71, 71, 71);
}

a {
    text-decoration: none;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width:1200px) {
    .main-container {
        width: 90%;
    }
}
/* button */

.btn {
    padding: 0.5rem 1.5rem;
    border: 1px solid rgb(234, 234, 234);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    background: white;
    z-index: 99;
    position: fixed;
}

.btn:hover {
    box-shadow: rgb(168, 168, 168) 0px 3px 5px;
}

/* titles */
.section-title {
    margin: 1rem 0 4rem;
    font-size: 2rem;
}

.pre-title {
    text-transform: uppercase;  /*agar huruf besar semua*/
    letter-spacing: 0.5rem;  /*jarak antara huruf*/
    color: rgb(50, 50, 50);
    position: relative;
    padding-left: 40px; /*memberi spasi di sebelah kiri*/
    width: fit-content;
    font-weight: 400;
    font-size: 0.9rem;
}
.pre-title::before { /*before berarti sebelum dari isi pre-title, before harus ada content:""; */
    content: "";
    width: 35px;
    height: 1px;
    background-color:rgb(50, 50, 50) ;
    position: absolute;
    display: block;
    left:0;   /*agar objek berada mentok di kiri,display block agar objek muncul*/
    top: 50%; /*agar objek berada di tengah*/
    opacity: 50%;
}

/* layout */
.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr)); /*bagian responsive untuk grid,
     ngulangin autofit=mengisi ruang yang kosong,minmax=minimal 250px maximal 1fr */
    gap: 3rem; /*spasi*/

}

/* logo dan navbar menu */

.nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    
}



.nav ul {
    list-style-type: none;
    display: flex;
    gap: 3rem;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 1.5rem;
}
.logo a {
    color: rgb(0, 16, 26);
}

.nav ul li {
    display: flex;
    align-items: center;
    cursor: pointer;
    /* border: 1px solid rgb(200, 200, 200);
    padding: 0 .5rem;
    border-radius: 5px; */
}

nav ul li a {
    color: rgb(33, 33, 33);
}

/* burger */
.burger div {
    width: 25px;
    height: 2px;
    background-color: rgb(49, 49, 49);
    margin: 7px;
    transition: all 0.3s;
    z-index: 99;
}
/* z index dan position fix= posisi tetap */
.burger {
    display:none;
    z-index: 99;
    position: fixed;
    top: 33px;
    right: 25px;
}

/* hero */

#hero {
    width: 100%;
    height: 100vh;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center; /*agar objek ke tengah secara vertical*/
}

.hero-name {
    font-size: 1.5rem;
    font-weight: blod;
    margin: 0.5rem 0 1rem;
}
.hero-name span {
    color: rgb(32, 157, 207);
}

.hero-right img {
    display: flex;
    width: 100%;
    right: 0;
    transition: 2s ease;
    transform: translateY(-2%);
    animation: float 2s infinite;
}
.hero-right {
    display: flex;
    /* justify-content: center; */
}

@keyframes float {
    0% {
        transform: translateY(-2%); transition: 2s ease;
    }
    50% {
        transform: translateY(2%); transition: 2s ease;
    }
}

/* service */

#services {
    background-color: rgb(197, 215, 227);
    padding: var(--sectionPadding);
}
.services .pre-title {
    margin: 0 auto;
}
.services-title {
    text-align: center;
}

.service {
    padding: 3rem 2rem;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    transition: 2s ease;
    animation: float 2s infinite ;
    transform: translateY(-2%);
}

.service h4 {
    margin: 1.5rem 0;
    font-weight: 800;
    font-size: 1.3rem;
}

.service-icon {
    background:rgb(160, 238, 255) ;
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 1.3rem;
    border-radius: 10px;
}

.service-icon svg {
    fill: rgb(0, 126, 155);
}

/* portfolio section */
#portfolios {
    padding: var(--sectionPadding);
}

.portfolio {
    border-radius: 20px;
    overflow: hidden; /*agar gambar tidak keluar atau agar masuk ke dalam border*/
    box-shadow: rgb(197, 215, 227) 0px 6px 10px;
    transition: 2s ease;
    animation: float 2s infinite ;
    transform: translateY(-2%);
}

.portfolio-cover {
    height: 250px;
}

.portfolio-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover; /*agar gambar tidak gepeng*/
}

.portfolio-info {
    padding: 1rem 1.5rem;
}



.portfolio-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.portfolio h4 {
    font-weight: 800;
    font-size: 1.3rem;
}

.portfolio-title a svg:hover {
    fill:rgb(0, 126, 155) ;
}
.portfolio-title a svg {
    transition: 0.3s ease-in-out;
}

.portfolio-tags{
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.portfolio-tags div {
    font-size: 0.9rem;
    border: 1px solid rgb(194, 194, 194) ;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(33, 33, 33);
}

/* skills and eduation */
#skills {
    padding: var(--sectionPadding);
    background: rgb(197, 215, 227);
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    gap: 3rem;
}

.education {
    display: flex;
    gap: 1.5rem;
}

.education .line {
    padding: 0 0.7rem;
}

.education .line div {
    width: 2px;
    height: 100%;
    background-color:rgb(61, 97, 122) ;
    position: relative;
}

.education-info p {
    margin: 0.5rem 0 0.5rem;
}

.education-years {
    margin: 0 0 3rem;
}
 
/* the dot on the line */
.education .line div:before {
    content: "";
    width: 15px;
    height: 15px;
    background-color: rgb(61, 97, 122) ;
    border-radius: 50%;
    position: absolute;
    left: -6px;
}

.skills-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem 0 0;
}

.skills-list ul {
    line-height: 2rem; /*jarak antar list*/
    padding: 0 1.5rem;
}

/* contact section */
#contact {
    padding: var(--sectionPadding);
}

.contact {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    gap: 4rem;
}

.contact-form div {
    margin: 0 0 1.5rem;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 0.5rem 2rem;
    font-family: "roboto",sans-serif;
    background-color: rgb(223, 235, 243);
    border-radius: 5px;
    border: none;
    resize: none; /*agar ukuran textarea tidak bisa diubah*/
}

.contact-form input::placeholder, .contact-form textarea::placeholder { /*untuk menargetkan placeholdernya*/
    color: rgb(61, 97, 122);
}

.contact-form input:focus { /*ketika saat ditekan*/
    outline: none;
    border: 1px solid rgb(36, 67, 89);
}
.contact-form textarea:focus {
    outline: none;
    border: 1px solid rgb(36, 67, 89);
}

.btn-submit {
    width: 100%;
    padding: 0.8rem 2rem;
    background-color:rgb(39, 165, 255) ;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: 0.3s ease-in-out;
}

.btn-submit:hover {
    background-color: rgb(3, 120, 203);

}

.contact-item {
    display: flex;
    gap: 1.5rem;
    margin: 0 0 2rem;
}

.contact-item-icon {
    background-color: rgb(160, 238, 255);
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-item-icon svg {
    fill: rgb(0, 126, 155);
}

.contact-item-detail h4 {
    margin: 0.3rem 0;
}

/* footer */
footer {
    padding: 4rem 0;
    background-color: rgb(215, 215, 215);
    text-align: center;
}

.footer-icon {
   margin: 0 0 1rem;
}

.footer-icon a {
    margin: 0 0.5rem;
}

.footer-icon svg {
    fill: rgb(116, 116, 116);
}

.footer-icon a:hover svg {
    fill: black;
}